/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');

/* Generic styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background: var(--off-white);
    color: var(--very-dark-blue);
    font-weight: 300;
}

a, button {
    cursor: pointer;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

/* Generic Styles */

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0px 100px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 0.6fr 3fr 1fr;
    gap: 4rem;
}

button {
    border: none;
    padding: 1rem 3rem;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* Header section */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-container {
    flex: 1;
}

.menu li a {
    margin-left: 2.5rem;
    color: var(--dark-grayish-blue);
}

.menu li a:hover {
    color: var(--soft-red)
}

/* Main section */

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 2rem;
}

.main-img {
    background-image: url(./images/image-web-3-desktop.jpg);
    background-position: top left;
    background-size: cover;
    grid-column: 1/span 2;
    grid-row: 1;
}

.main-title {
    font-size: 3.5rem;
    width: 380px;
    line-height: 1;
    grid-column: 1;
    grid-row: 2;
    font-weight: 700;
    align-self: flex-start;
    justify-self: flex-start;
    color: var(--very-dark-blue);
}

.main-description {
    grid-column: 2;
    grid-row: 2;
}

.main-articles {
    grid-column: 3;
    grid-row: 1/span 2;
}

.description-btn {
    background: var(--soft-red);
    color: var(--off-white);
    font-size: 1rem;
    padding: 1rem 2.5rem;
}

.description-btn:hover {
    background: var(--very-dark-blue)
}

.main-articles {
    background: var(--very-dark-blue);
    color: var(--grayish-blue);
    padding: 2rem 1.5rem;
}

.main-articles-title {
    color: var(--soft-orange);
    font-size: 2.5rem;
    font-weight: 700;
}

.article-title {
    color: var(--off-white);
    line-height: 2;
    font-size: 20px;
    font-weight: 700;
}

.article-title:hover {
    color: var(--soft-orange);
}

.article-text {
    font-size: 15px;
}

/* News section */

.news-item-image-1 {
    background: url(./images/image-retro-pcs.jpg);
}

.news-item-image-2 {
    background: url(./images/image-top-laptops.jpg);
}

.news-item-image-3 {
    background: url(./images/image-gaming-growth.jpg);
}

.news-item-image {
    height: 130px;
    width: 100px;
    background-position: top left;
    background-size: cover;
    margin-right: 1rem;
}

.news-item {
    display: flex;
    justify-content: space-between;
}

.news-description {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-number {
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    color: var(--grayish-blue);
}

.news-title {
    font-weight: 700;
    font-size: 1.2rem;
}

.news-title:hover {
    color: var(--soft-red);
}

/* Query Selectors */

/* 
- Mobile: 375px
- Desktop: 1440px
*/

@media (max-width: 1300px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0px 20px;
    }

    /* main */

    .main-title {
        font-size: 3.5rem;
        width: 300px;
    }

    .main-container {
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 2fr 1.2fr;
        gap: 2rem;
    }

    .main-articles-title {
        color: var(--soft-orange);
        font-size: 2rem;
        font-weight: 700;
    }
    
    .article-title {
        color: var(--off-white);
        line-height: 1.2;
        font-size: 17px;
        font-weight: 700;
    }
    
    .article-title:hover {
        color: var(--soft-orange);
    }
    
    .article-text {
        font-size: 13px;
    }

    /* news */

    .news-description {
        max-width: 200px;
    }
    
    .news-number {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 600;
        color: var(--grayish-blue);
    }
    
    .news-title {
        font-weight: 700;
        font-size: 1rem;
    }
}