/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');

/* Generic styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background: var(--off-white);
    color: var(--very-dark-blue);
    font-weight: 300;
    overflow-y: scroll;
    overflow-x: hidden;
}

a, button {
    cursor: pointer;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

/* Generic Styles */

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0px 100px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 0.6fr 3fr 1fr;
    gap: 4rem;
}

button {
    border: none;
    padding: 1rem 3rem;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* hidden menu */



.hidden-menu {
    position: absolute;
    top: 0%; 
    right: 0%;
    transform: translateX(120%);
    background: var(--off-white);
    color: var(--dark-grayish-blue);
    min-height: 200%;
    width: 300px;
    z-index: 2;
    transition: all 0.1s ease;
}

.move-in {
    transform: translateX(0%);
}

.shadow {
    box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.4);
}


.hidden-menu-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    margin-top: 15rem;
    margin-left: 2rem;
}

.hidden-menu-ul li a {
    color: var(--very-dark-blue);
    font-size: 1.1rem;
    font-weight: 400;
}

.hidden-menu-ul li a:hover {
    color: var(--soft-orange);
}

/* Header section */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-container {
    flex: 1;
}

.menu li a {
    margin-left: 2.5rem;
    color: var(--dark-grayish-blue);
}

.menu li a:hover {
    color: var(--soft-red)
}

/* Main section */

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 2rem;
}

.main-img {
    background-image: url(./images/image-web-3-desktop.jpg);
    background-position: top left;
    background-size: cover;
    grid-column: 1/span 2;
    grid-row: 1;
}

.main-title {
    font-size: 3.5rem;
    width: 380px;
    line-height: 1;
    grid-column: 1;
    grid-row: 2;
    font-weight: 700;
    align-self: flex-start;
    justify-self: flex-start;
    color: var(--very-dark-blue);
}

.main-description {
    grid-column: 2;
    grid-row: 2;
}

.main-articles {
    grid-column: 3;
    grid-row: 1/span 2;
}

.description-btn {
    background: var(--soft-red);
    color: var(--off-white);
    font-size: 1rem;
    padding: 1rem 2.5rem;
}

.description-btn:hover {
    background: var(--very-dark-blue)
}

.main-articles {
    background: var(--very-dark-blue);
    color: var(--grayish-blue);
    padding: 2rem 1.5rem;
}

.main-articles-title {
    color: var(--soft-orange);
    font-size: 2.5rem;
    font-weight: 700;
}

.article-title {
    color: var(--off-white);
    line-height: 2;
    font-size: 20px;
    font-weight: 700;
}

.article-title:hover {
    color: var(--soft-orange);
}

.article-text {
    font-size: 15px;
}

/* News section */

.news-item-image-1 {
    background: url(./images/image-retro-pcs.jpg);
}

.news-item-image-2 {
    background: url(./images/image-top-laptops.jpg);
}

.news-item-image-3 {
    background: url(./images/image-gaming-growth.jpg);
}

.news-item-image {
    height: 130px;
    width: 100px;
    background-position: top left;
    background-size: cover;
    margin-right: 1rem;
}

.news-item {
    display: flex;
    justify-content: space-between;
}

.news-description {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-number {
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    color: var(--grayish-blue);
}

.news-title {
    font-weight: 700;
    font-size: 1.2rem;
}

.news-title:hover {
    color: var(--soft-red);
}

.burger {
    display: none;
}

@media (max-width: 1300px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0px 50px;
    }

    /* main */

    .main-title {
        font-size: 3.5rem;
        width: 300px;
    }

    .main-container {
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 2fr 1.2fr;
        gap: 2rem;
    }

    .main-articles-title {
        color: var(--soft-orange);
        font-size: 2rem;
        font-weight: 700;
    }
    
    .article-title {
        color: var(--off-white);
        line-height: 1.2;
        font-size: 17px;
        font-weight: 700;
    }
    
    .article-title:hover {
        color: var(--soft-orange);
    }
    
    .article-text {
        font-size: 13px;
    }

    /* news */

    .news-description {
        max-width: 200px;
    }
    
    .news-number {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 600;
        color: var(--grayish-blue);
    }
    
    .news-title {
        font-weight: 700;
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {

    .container {
        max-width: 750px;
        margin: 0 auto;
        padding: 0px 50px;
    }

    body {
        display: grid;
        grid-template-rows: 100px auto auto;
        gap: 4rem;
    }

    /* main */

    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 300px auto 150px 450px;
        /* grid-auto-rows: minmax(200px, 500px); */
    }

    .main-img {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .main-title {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .main-description {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .main-articles {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    /* News section */

    .news-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .news-item {
        margin-bottom: 2rem;
    }
}

@media (max-width: 700px) {
    /* header */

    .header-container nav {
        position: relative;
    }

    .menu {
        display: none;
    }

    .burger {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        transform: translateY(-50%);
        background-image: url(./images/icon-menu.svg);
        background-repeat: no-repeat;
        height: 18px;
        width: 40px;
        z-index: 100;
        cursor: pointer;
        transition: all 0.1s ease;
    }
    
    .burger-pressed {
        background-image: url(./images/icon-menu-close.svg);
        background-repeat: no-repeat;
        height: 30px;
    }
}

@media (max-width: 375px) {
    .main-img {
        background-image: url(./images/image-web-3-mobile.jpg);
        background-position: top left;
        background-size: cover;
    } 
}
